[run]
omit =
        *__init__*
        tests/*
        */root/*
        */site-packages/*

include =
        src/*

[report]
omit =
        *__init__*
        tests/*
        */root/*
        */site-packages/*

include =
        src/*
